.title { 
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 50px;
}

h1 {
	font-family: Arial, Verdana, sans-serif;
	margin-left: 70px;
}

p {
	font-family: Times, Georgia, serif;
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 70px;
}

a:link {
	color: #447784;
}

a:visited {
	color: #802215;
}

a:hover {
	color: #0F434F;
}

figcaption {  
	margin-bottom: 90px;
	text-align: center;
}

